.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--nav-bg-color);
    font-size: 1.2em;
    /* height: calc(var(--top-nav-height) - 20px); */
    align-items: center;
}

@media screen and (max-width: 800px) {
    .top-nav {
        flex-direction: column;
    }

    .top-nav-right {
        justify-content: center;
    }
}

.top-nav p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.top-nav a {
    text-decoration: none;
    color: white;
}

.top-nav img {
    margin-right: 5px;
}

.top-nav-right {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.top-nav .current-user a {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 5px;
    padding-right: 5px;
}

.top-nav .current-server a {
    display: flex;
    flex-direction: row;
}

.top-nav small {
    font-size: 0.75rem;
}
