.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--nav-bg-color);
    font-size: 1.25em;
    align-items: center;
}

.top-nav p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-nav a {
    text-decoration: none;
    color: white;
}

.top-nav img {
    margin-right: 5px;
}

.top-nav-right {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.top-nav .current-user a,
.top-nav .current-server a {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--primary-color);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.top-nav .current-server {
    display: flex;
    flex-direction: row;
}

.top-nav small {
    font-size: 0.75rem;
}
