{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": false,
            "dynamicImport": false
        },
        "transform": null,
        "loose": false,
        "externalHelpers": false,
        "keepClassNames": false,
        "target": "es2020"
    }
}