.scripting-ide {
    position: absolute;
    width: 100%;
    top: 55px;
    bottom: 0px;

    display: flex;
}

.scripting-panel {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.scripting-editor {
    overflow: hidden;
}

.scripting-console {
    display: flex;
    /* background-color: blue; */
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.212);
    align-items: stretch;
    flex-direction: column;

    max-height: 100%;
    overflow-y: auto;
}

.scripting-actions {
    margin-left: 10px;
    margin-right: 10px;

    /* background-color: orange; */
    border-bottom: 1px solid var(--primary-color);
}

.actions-row {
    display: flex;
    flex-direction: row;
}

.actions-row p {
    margin-right: 10px;
}

.guild-console {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
}

.guild-console-message {
    padding: 5px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: small;
}

.guild-console-message:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.411);
}

.guild-console-message-source {
    margin-right: 5px;
}

.guild-console-message-level-critical .guild-console-message-source {
    color: red;
}

.guild-console-message-level-error .guild-console-message-source {
    color: red;
}

.guild-console-message-level-warn .guild-console-message-source {
    color: rgb(192, 183, 54);
}

.guild-console-message-level-info .guild-console-message-source {
    color: rgb(117, 117, 117);
}

.guild-console-message-level-consolelog .guild-console-message-source {
    color: rgb(119, 128, 255);
}

.guild-console-message-level-client .guild-console-message-source {
    color: rgb(87, 87, 87);
}
