.user-settings {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.user-active-sessions {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.premium-slot {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.premium-slot-lite {
    background-color: rgb(65, 65, 65);
}

.premium-slot-premium {
    background-color: rgb(143, 59, 59);
}

.premium-slot-change-guild {
    display: flex;
}

.premium-slot-change-guild button {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}
